.quiz
  .quiz-result Ваш результат
  //- .quiz-result_score
  //-   span
  //-   = length*2

  .quiz_desc.quiz_desc-result= description
  .quiz-social
    .quiz-social_title 
     | Спасибо, что прошли тест. Поделитесь своим результатом с друзьями в социальных сетях с хештегом
     span  #IDEAL_ВкусЗдоровья
     |  и получите возможность выиграть корзину оливкового масла Ideal.
    .share-btn.share-btn__fb(data-component='shareBtn', data-title=title, data-description=description, data-type="fb", data-url=url, data-image=image)
      | Поделиться
      .share-btn_counter.js-shareBtnCounter
    .share-btn.share-btn__vk(data-component='shareBtn', data-type="vk", data-title=title, data-description=description, data-url=url, data-image=image)
      | Поделиться
      .share-btn_counter.js-shareBtnCounter
    br
    a.result_restart(href="/") Пройти тест заново